$main-font-color:rgba(238, 147, 73, 0.582);


* {

    margin: 0;

    padding: 0;

}


body {
    background-color: $main-font-color;
    display: grid;
    grid-template-columns: 1fr;

}




img {
    width: 100%;
}




/* Links for website*/

nav>a {
    font-style: italic;
    text-align: center;

}




a:link {
    font-weight: bold;
    font-size: medium;
}




a:visited {
    font-size: small;
    color: rgba(93, 160, 247, 0.959);
}

/*above are links for website */

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}