.index_h1{

    display: grid;
    text-decoration-line: underline;
    background-color: rgba(255, 0, 0, 0.301);
    text-align: start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
    padding-top: 5px;
}